
body {
 background-color: #ffe8ef;
 width: 100%;

}
.estrutura{
	text-align: right;
	width: 79%;
	
}

html{
	border-top: 3px solid #fc5185; 
	border-left: 3px solid #fc5185;
	border-right: 3px solid #fc5185;
	height: 100%;
}

ul {
	list-style: none;
	padding: 0;
	display: inline-block;
	
}
li{
	font-family: Arial, sans-serif; 
	display: inline-block; 
    margin: 0 10px;
}

a {
	text-decoration: none;
	color: #000;
}



section {
	display: flex;
    width: 80%;
	flex-direction: column;
	margin-top: 5%;
	margin-right: 55%;


}
.container {
    display: flex;
	margin-top: 5%;
	margin-left: 23%;
	
	
	

}

.sobre {
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
	padding: 15px;
	
}

.sobre h2, .sobre p {
    text-align: center;
    margin: 0 -10px; 
	font-family: 'Roboto Slab', serif;
}

img{
	width: 80%;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}