@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Sriracha&display=swap');
body {
 background-color: #ffe8ef;
 width: 100%;

}
.estrutura{
	text-align: right;
	width: 85%;
	
}

html{
	border-top: 3px solid #fc5185; 
	border-left: 3px solid #fc5185;
	border-right: 3px solid #fc5185;
	height: 100%;
}

ul {
	list-style: none;
	padding: 0;
	display: inline-block;
	
}
li{
	font-family: Arial, sans-serif; 
	display: inline-block; 
    margin: 0 12px;
	flex-direction: column;

}

a {
	text-decoration: none;
	color: #000;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2rem;
	font-style: italic;
}



section {
	display: flex;
    width: 80%;
	flex-direction: column;
	margin-top: 5%;
	margin-right: 55%;


}
.container {
    display: flex;
	margin-top: 5%;
	margin-left: 23%;
}

.sobre {
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
	padding: 15px;
	
}


.logo {
	font-family: Arial, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
  }
  
  .quadradinho {
	width: 50px;
	height: 50px;
	background-color: #ffe8ef;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 3px solid #000000; 
	border-left: 3px solid #000000;
	border-right: 3px solid #000000;
	border-bottom: 3px solid #070707;

  }
  

.sobre h2, .sobre p {
    text-align: center;
    margin: 0 -10px; 
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-style:normal;
}
h2{
	font-style: italic;
}

img{
	width: 80%;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}